{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "airbnb-base"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "rules": {
    "comma-dangle": "off",
    "consistent-return": "off",
    "default-case": "off",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-console": "off",
    "no-nested-ternary": "off",
    "no-shadow": "off",
    "no-undef": "off",
    "no-underscore-dangle": "off",
    "object-curly-newline": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off"
  }
}