h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", serif;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: $color-black-choco;
  border-top: .05rem solid $gray-900;
}

.blog-post {
  margin-bottom: 4rem;
}

.card-col {
  margin-bottom: 2rem;
  
  &._solved {
    opacity: 0.3;
  }
}

.form-control:disabled, .form-control[readonly] {
  background-color: $color-black-choco;
}

.Live {
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: #000000;
  padding: 0 20px 0 0;

  .Live-chart {
    
  }
}