/** Variables **/
$color-charcoal: #292D30;
$color-black-choco: #191A1B;
$color-black-smoke: rgb(37, 37, 37);
$color-baby-powder: #FEFEFA;

/** Bootstrap Vars **/
$body-bg: $color-charcoal;
$body-color: $color-baby-powder;

$card-bg: $color-black-choco;
$list-group-bg: $color-black-smoke;
$input-bg: $color-black-smoke;
$input-color: $color-baby-powder;
$input-border-color: rgba(#000, .125);